# Task 1: Treasure hunt with Pandas
---

Learning how to index with Pandas is kind of like having to eat your vegetables: it's not the funnest thing, but you need to know it! In this exercise, I'll provide you with clues that you need to use to index a dataframe and find the "Treasure". For example, if the clue is "The first ten rows" then you might try:

```python
>>> df.iloc[:10]
```

The above is just an example, but the result of your indexing should always be the string `'TREASURE'`.

In [77]:
import pandas as pd

## 1.1

Load in the file `treasure_hunt.csv` as a dataframe called `treasure_df`. Read in the first column as the dataframe index column and the first row as the dataframe columns.

In [78]:
# Your solution here
df_path = '/Users/gawain/Desktop/3.UBC/Block4/Data-542-Data Wrangling/Labs/Lab2/treasure_hunt.csv'
treasure_df = pd.read_csv(df_path, index_col=0)
treasure_df.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C21,C22,C23,C24,C25,C26,C27,C28,C29,C30
R1,T,W,W,R,A,L,E,A,J,B,...,H,A,Q,O,S,Q,C,N,TREA,SURE
R2,U,R,O,N,Y,D,K,N,K,T,...,T,D,M,D,W,F,N,I,E,A
R3,X,H,E,F,T,C,Y,Z,O,B,...,J,X,S,K,P,A,I,E,S,U
R4,R,Q,E,A,W,D,X,T,Z,K,...,Y,C,Y,W,P,I,G,B,R,E
R5,R,G,Q,Z,S,L,W,U,W,Q,...,Z,N,J,R,Z,G,M,P,Q,Y

In [79]:
treasure_df.columns

Index(['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11',
       'C12', 'C13', 'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21',
       'C22', 'C23', 'C24', 'C25', 'C26', 'C27', 'C28', 'C29', 'C30'],
      dtype='object')

## 1.2

**CLUE:** C20, R1

In [80]:
# Your solution here
treasure_df['C20'][:1]

R1    TREASURE
Name: C20, dtype: object

## 1.3

**CLUE:** thirteenth column, thirteenth row (*hint*: recall that indexing starts at 0!)

In [81]:
treasure_df['C13']

R1            S
R2            Z
R3            T
R4            Y
R5            Q
R6            W
R7            U
R8            R
R9            E
R10           R
R11           O
R12           M
R13    TREASURE
R14           H
R15           H
R16           L
R17           G
R18           B
R19           I
R20           J
R21           A
R22           O
R23           S
R24           Z
R25           Q
R26           P
R27           H
R28           O
R29           N
R30           G
Name: C13, dtype: object

In [82]:
# Your solution here
if all(treasure_df.iloc[:,12] == treasure_df['C13']):
      print(treasure_df.iloc[:,12][12])

TREASURE

## 1.4

**CLUE:** R28, tenth column

In [83]:
# Your solution here
treasure_df.loc['R28'][9]

'TREASURE'

## 1.5
rubric={autograde:1}

# Your solution here**CLUE:** C26, R19 to R26

**HINT:** You might need to do a bit of extra wrangling (e.g. joining stuff, maybe?) to get a result of "TREASURE" here...

In [84]:
# Your solution here
''.join(treasure_df['C26']['R19':'R26'])

'TREASURE'

## 1.6

**CLUE:** The first rows of C29 *plus* the first row of C30

In [85]:
# Your solution here
treasure_df['C29'][0] + treasure_df['C30'][0]

'TREASURE'

In [91]:
''.join(treasure_df['C29'][0] + treasure_df['C30'][0])

'TREASURE'

## 1.7

**CLUE:** The first row of all columns that **do not** have a "Z" in the last row.

**HINT:** You might need to do a bit of extra wrangling to get a result of "TREASURE" here...

In [92]:
# Your solution here
''.join(treasure_df.iloc[0][treasure_df.iloc[-1]!="Z"])

'TREASURE'

## 1.8

**CLUE:** C1 for C1 < C2 (remember, in Python, comparison operators work on string too, e.g., `"a" < "b" = True` because `a` occurs before `b` alphabetically. Also, don't forget about `.query()`!)

**HINT:** You might need to do a bit of extra wrangling to get a result of "TREASURE" here...

In [87]:
# Your solution here
# treasure_df.query('C1' > 'C2')
treasure_df.query("C1 > C2").loc['R20', 'C1']

'TREASURE'

In [94]:
''.join(i for i in treasure_df.query("C1 < C2")['C1'])

'TREASURE'

In [97]:
''.join(treasure_df.query("C1 < C2")['C1'])

'TREASURE'