# Task 3: Introduction to Pandas

In this lab you work on applying your new Pandas skills to work with data - finally!

## Objectives

In this lab you will:

1. Practice working with data using the pandas package
2. Practice some data wrangling mathematical operations.

In [1]:
# Usually all the import statements are at the top of the file

import pandas as pd
import seaborn as sns
import numpy as np
import os
import matplotlib.pyplot as plt

## Working with data using pandas

In this part of the lab, we will practice loading in a sample data set using pandas, and doing some basic operations.

### 3.1: Load in the data

There is a CSV file (`pokemon.csv`) inside a directory called `data`.

Your task is to use the pandas [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function to read this dataset, assign it to a dataframe called `df`, and then print its [`head`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html) also known as the first 5 lines of the dataframe.

*Hint: don't forget to first `import pandas as pd` to use `read_csv` and other pandas function.*

In [2]:
### Your solution here
df = pd.read_csv('/Users/gawain/Desktop/3.UBC/Block4/Data-542-Data Wrangling/Labs/Lab1/Data/pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### 3.2: How many total pokemon are there in the dataset?

Make sure to use the `dataframe.count()` function to print the total number of entries in each column of the dataframe before you answer!

In [5]:
m = [2,'m', 'e', 5.6]
np.array(m)

array(['2', 'm', 'e', '5.6'], dtype='<U32')

In [12]:
### Your solution here
if df['Name'].nunique() == df['Name'].count():
      print('Total Number pokemon:', df['Name'].count())

Total Number pokemon: 800

### 3.3: Create a new dataframe `df2` that only includes the Pokemon from the first generation. 

*Hint: Remember that you can subset dataframes using the `[]` syntax. [More on this here](https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html)*

In [15]:
### Your solution here
df2 = df[df['Generation']==1]
df2.nunique()

#             151
Name          166
Type 1         15
Type 2         13
Total          82
HP             42
Attack         52
Defense        47
Sp. Atk        39
Sp. Def        30
Speed          45
Generation      1
Legendary       2
dtype: int64

### 3.4: Print ONLY the mean HP, Attack, Defense, and Speed of all pokemon in the first generation using pandas functions

In [18]:
### Your solution here
print('mean HP %.2f' %np.mean(df2['HP']))
print('mean Attack %.2f' %np.mean(df2['Attack']))
print('mean Defense %.2f' %np.mean(df2['Defense']))
print('mean Speed %.2f' %np.mean(df2['Speed']))

mean HP 65.82
mean Attack 76.64
mean Defense 70.86
mean Speed 72.58